@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    /* For Webkit browsers */
    &::-webkit-scrollbar {
      display: none;
    }
    /* For IE, Edge, and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #7bbcb0;
  --primary-light: #AFFFF0;
  --secondary: #ffda32;

  --accent-gray-dark: #1c2b38;
  --accent-gray-800: #495560;
  --accent-gray-500: #778088;
  --accent-gray-light: #ffffff99;

  --accent-purple: #d176e0;
  --accent-blue: #5c9bde;
  --accent-red: #fc3131;

  --footer: #13253f;
  --footer-bottom: #00000033;

  --header-height: 90px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* styles/globals.css */
body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
}
*{
  font-family: 'Mulish', 'sans-serif';
}